body{
    font: 18px Montserrat;
}

button{
    cursor: pointer;
    font: 16px Montserrat;
}

input{
    width: 230px;
}

#introducao{
    text-align: center;
}

#tela_inicial{
    width: 48vw;
    float: left;
}

#jogo{
    width: 48vw;
    float: right;
    text-align: center;
}

#tela{
    float: right;
    width: 500px;
    height: 200px;
    background-color: rgb(122, 122, 230);
    padding: 5px;
    border: 5px solid rgba(0, 0, 0, 0.7);
    font: 25px cursive;
}

#tela button{
    font: 20px cursive; 
}

#caixa_seletor_cores{
    float: left;
    margin-left: 140px;
}

#fonte{
    margin-top: 30px;
    float: left;
    margin-left: 140px;
}

#fonte select{
    height: 25px;
}