@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    font: 18px Architects Daughter;
}

button{
    cursor: pointer;
    font: 16px Architects Daughter;
}

#introducao{
    text-align: center;
}

#tela_inicial{
    width: 48vw;
    float: left;
}

#jogo{
    width: 48vw;
    float: right;
}

#tela{
    float: right;
    width: 500px;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.7);
    padding: 10px;
}

#botoes_tela{
    padding-left: 150px;
}

input{
    width: 230px;
}