body{
    font: 18px Montserrat;
}

button{
    cursor: pointer;
    font: 16px Montserrat;
}

input{
    width: 230px;
}

#introducao{
    text-align: center;
}

#tela_inicial{
    width: 48vw;
    float: left;
}

#jogo{
    width: 48vw;
    float: right;
}

#tela{
    float: right;
    width: 500px;
    height: 200px;
    background-color: rgba(4, 4, 216, 0.7);
    padding: 10px;
}

#botoes_tela{
    padding-left: 150px;
}