body{
    font: 23px Arial;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -227px;
}

input{
    height: 25px;
    width: 300px;
    font-size: 18px;
}