body{
    text-align: center;
    margin-top: 20vh;
    font: 24px Arial;
}

#tela{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px;
    padding: 0px;
}

button{
    font-size: 22px;
    cursor: pointer;
    margin-top: 5px;
    border-color:#00ff62;
    background: linear-gradient(to bottom, #83f781 5%, #00ff62 100%);
    box-shadow:inset 0px 1px 0px 0px #fdf7f0;
    border:1px solid #00000030;
    border-radius:4px;
    padding:4px 23px;
    width: calc(100vw - 170px);
    max-width: 800px;
    min-width: 200px;
}

button:hover{
    background: linear-gradient(to bottom, #00ff62 5%, #83f781 100%);
}

#pergunta{
    margin-top: 4vh;
    font-size: 26px;
}

@media screen and (max-width: 650px){
    #tela button{
        font-size: 20px;
    }

    body{
        font: 20px Arial;
    }
}