<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Noto+Serif+Georgian&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="tela">

    </div>
</body>
<script>
    let text = '<%= game %>'
    text = text.split('&#34;')
    text = text.join('"')
    const game = JSON.parse(text)
    var pontuacao = 0
    var contagem_de_arrays = 0
    var tela = document.getElementById('tela')
    var criador = '<%= username %>'
            
    function criar_jogo(){
        contagem_de_arrays = 0
        document.body.style.backgroundColor = game.paleta[0]
        tela.style.fontFamily = game.fonte
        tela.style.color = game.paleta[5]
        pontuacao = 0
        botoes()
    }

    function botoes(){
        let tela = document.getElementById('tela')
        let tela_largura = tela.clientWidth
        let ordenado =  game.perguntas[contagem_de_arrays].slice(1,)
        let button_width = tela_largura*0.9
        ordenado.sort()
        const base64 = game.imagens[contagem_de_arrays]

        tela.innerHTML =  `
        <p id='pergunta'>${game.perguntas[contagem_de_arrays][0]}</p> 
        <div id="imagem_tela"></div>
        <div id="botoes_tela"><div>
        `

        if(base64 != ''){
            let img, event, attributes

            if(/data:video/.test(base64)){
                img = document.createElement('video')
                event = 'loadedmetadata'
                attributes = ['autoplay', 'loop', 'controls']
            } else {
                img = document.createElement('img')
                event = 'load'
            }

            img.src = base64

            img.addEventListener(event, () => {
                for(i in attributes){
                    img.setAttribute(attributes[i], '')
                }

                let img_width, img_height

                if(img.width == 0){
                    img_width = img.videoWidth
                    img_height = img.videoHeight
                } else {
                    img_width = img.width
                    img_height = img.height
                }

                const pro_width = tela_largura/img_width
                const pro_height = tela.clientHeight*0.4/img_height
                let mWW = img_width*pro_width
                let mHW = img_height*pro_width
                let mWH = img_width*pro_height
                let mHH = img_height*pro_height

                if(pro_width < pro_height){
                    if(mWW < 150){
                        mHW = mHW + mHW / (mWW / (150 - mWW)) 
                        mWW = 150
                    } else if(mHW < 200){
                        mWW = mWW + mWW / (mHW / (200 - mHW)) 
                        mHW = 200
                    }

                    img.height = mHW
                    img.width = mWW
                } else {
                    if(mWH < 150){
                        mHH = mHH + mHH / (mWH / (150 - mWH)) 
                        mWH = 150
                    } else if(mHH < 200){
                        mWH = mWH + mWH / (mHH / (200 - mHH)) 
                        mHH = 200
                    }

                    img.height = mHH
                    img.width = mWH
                }

                document.getElementById('imagem_tela').appendChild(img)
            })
        }

        var botoes_tela = document.getElementById('botoes_tela')
        for(let c = 0; c < ordenado.length; c++){
            if(game.perguntas[contagem_de_arrays][1] === ordenado[c]){
                botoes_tela.innerHTML += `<button class='button_tela' style='color: ${game.paleta[5]}; background: ${game.paleta[3]}; font-family:${game.fonte};' onclick='resposta("certo")'>${ordenado[c]}</button><br>`
            } else {
                botoes_tela.innerHTML += `<button class='button_tela' style='color: ${game.paleta[5]}; background: ${game.paleta[3]}; font-family:${game.fonte};' onclick='resposta("errado")'>${ordenado[c]}</button><br>`
            }
        }
        
        contagem_de_arrays += 1
        var botoes = document.getElementById('tela').querySelectorAll('button')

        for(botao in botoes){
            if(!isNaN(Number.parseInt(botao))){
                botoes[botao].style.fontFamily = game.fonte
            }
        }

        let els = document.getElementsByClassName('button_tela')
        for(i in els){
            if(!isNaN(Number.parseInt(i))){
                els[i].addEventListener('mouseover', (e) => {
                    e.currentTarget.style.background = game.paleta[4]
                })
                els[i].addEventListener('mouseout', (e) => {
                    e.currentTarget.style.background = game.paleta[3]
                })
            }
        }
    }

    function resposta(classe){
        if(classe === 'certo'){
            tela.innerHTML = `<h1 style='color: ${game.paleta[2]};'>Acertou</h1>`
            pontuacao++
        } else {
            tela.innerHTML = `<h1 style='color: ${game.paleta[1]};'>Errou</h1>`
        }
        setTimeout(() => {
            if(contagem_de_arrays ===  game.perguntas.length){
                tela.innerHTML = `<p>O jogo acabou<br>Sua pontuação: ${pontuacao}/${ game.perguntas.length}</p>
                <br>
                <button id="Jogar_novamente" onclick="criar_jogo()" style="background: ${game.paleta[3]}; color: ${game.paleta[5]};">Jogar de novo</button>`

                let el = document.getElementById('Jogar_novamente')
                el.addEventListener('mouseover', (e) => {
                    e.currentTarget.style.background = game.paleta[4]
                })
                el.addEventListener('mouseout', (e) => {
                    e.currentTarget.style.background = game.paleta[3]
                })
            } else {
                botoes()
            }
        }, 1500);
    }

    criar_jogo()
</script>
</html>