<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo%></title>
    <link rel="shortcut icon" href="/Jogos_Simples.png">
    <link href="/game.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Marhey&family=Montserrat&family=Noto+Serif+Georgian&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div id="tela">

    </div>
</body>
<script src="/game.js"></script>
<script>
    let text = '<%= game %>'
    text = text.split('&#34;')
    text = text.join('"')
    start_game(text)
</script>
</html>