<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <h1>Aqui está todos os jogos que você criou</h1>
    <p id="links"></p>
</body>
<script>
    var links = '<%= links %>'
    var links = links.split(',')
    var id_links = document.getElementById('links')

    for(i in links){
        id_links.innerHTML += `<a href="/game/${links[i]}">${links[i]}</a><br><br>`
    }
</script>
</html>