<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/login.css" rel="stylesheet">
</head>
<body>
    <% if(message == 'A senha está errada') { %>
        <script>
            alert('A senha está errada')
            history.pushState({}, null, '/login')
            localStorage.removeItem('email')
            localStorage.removeItem('senha')
        </script>
    <% } %>
    <% if(message == 'Houve um erro, tente novamente mais tarde') { %>
        <script>
            alert('Houve um erro, tente novamente mais tarde')
            history.pushState({}, null, '/login')
            localStorage.removeItem('email')
            localStorage.removeItem('senha')
        </script>
    <% } %>
    <% if(message == 'Não existe conta com esse email') { %>
        <script>
            alert('Não existe conta com esse email')
            history.pushState({}, null, '/login')
            localStorage.removeItem('email')
            localStorage.removeItem('senha')
        </script>
    <% } %>
    <div>
        <form method="post" action="/login_efetuado" id="form">
            Email: <input type="email" name="email" id="email">
            <br>
            <br>
            Senha: <input type="password" maxlength="15" minlength="4" name="password" id="senha">
            <br>
            <br>
            <input type="submit" value="Fazer login">
        </form>
    </div>
    <script>
        var form = document.getElementById('form')

        form.addEventListener('submit', () => {
            localStorage.setItem('email', document.getElementById('email').value)
            localStorage.setItem('senha', document.getElementById('senha').value)
            form.submit()
        })
    </script>
</body>
</html>